.login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login > form {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: solid;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px grey;
  justify-content: space-between;
}

.login input {
  outline: 0;
  background-color: transparent;
  border: 0;
  border-bottom: solid;
  padding: 0.5rem 1rem;
  font-size: larger;
  color: white;
}

.login button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: solid 1px;
  font-weight: 600;
  background-color: #000000;
  color: white;
  transition: all 300ms linear;
}

.login button:hover{
  background-color: white;
  color: black;
}

.login form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login form a span{
  color: #ff7070;
}

.login label{
    color: white;
    font-weight: 600;
}

h1{
  color: white;
}

@media screen and (max-width:760px) {
  .login>img{
    display: none;
  }
}