*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    min-height: 100vh;
    background: #4ac29a;
    background: -webkit-linear-gradient(to right, #4ac29a, #bdfff3);
    /* background: linear-gradient(to right, #aaeeea, #ffb833); */
    background: linear-gradient(to right, #f2fffe, #656565);
    overflow-x: hidden;
}

#root>*{
    min-height: 100vh;
}

button{
    cursor: pointer;
}
a{
    cursor: pointer;
    text-decoration: none;
}
